<h2>Update</h2>
<form class="form-horizontal" name="frmEditGrade" ng-submit="updateGrade(grade)" novalidate>
    <h4>Update current grade</h4>
    <hr />

    <div class="form-group">
        <label class="col-lg-2 control-label">Grade Name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="name" ng-model="grade.GradeName" ng-maxlength="50" required />
            <span class="text-danger" ng-show="(frmEditGrade.name.$touched || frmEditGrade.name.$dirty) && frmEditGrade.name.$invalid">
                <span ng-show="frmEditGrade.name.$error.required">Name is required</span>
                <span ng-show="frmEditGrade.name.$error.maxlength">Name must be less than or equal to 50</span>
            </span>
        </div>
    </div>
   
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" class="btn btn-success" value="Update" ng-if="states.showUpdateButton" ng-disabled="frmEditGrade.$pristine || frmEditGrade.$invalid" />
            <a href="/grades" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
