<h2>Create</h2>
<form class="form-horizontal" name="frmAddRegistration" ng-submit="createRegistration(registration)" novalidate>
    <h4>Create a new registration</h4>
    <hr />


    <div class="form-group">
        <label class="col-lg-2 control-label">Student Name</label>
        <div class="col-lg-10">
            <label>
                <select class="form-control" ng-model="registration.StudentId" style="font-weight: normal">
                    <option ng-repeat="t in students" ng-value="{{t.StudentId}}">{{t.Name}}</option>
                </select>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Subject Name</label>
        <div class="col-lg-10">
            <label>
                <select class="form-control" ng-model="registration.SubjectId" style="font-weight: normal">
                    <option ng-repeat="t in subjects" ng-value="{{t.Id}}">{{t.SubjectName}}</option>
                </select>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Grade</label>
        <div class="col-lg-10">
            <label>
                <select class="form-control" ng-model="registration.GradeId" style="font-weight: normal">
                    <option ng-repeat="t in grades" ng-value="{{t.Id}}">{{t.GradeName}}</option>
                </select>
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" class="btn btn-success" value="Create" ng-disabled="frmAddRegistration.$invalid" />
            <a href="/registrations" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
