<h2>Update</h2>
<form class="form-horizontal" name="frmEditStudent" ng-submit="updateStudent(student)" novalidate>
    <h4>Update current student</h4>
    <hr />

    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="name" ng-model="student.Name" ng-maxlength="50" required />
            <span class="text-danger" ng-show="(frmEditStudent.name.$touched || frmEditStudent.name.$dirty) && frmEditStudent.name.$invalid">
                <span ng-show="frmEditStudent.name.$error.required">Name is required</span>
                <span ng-show="frmEditStudent.name.$error.maxlength">Name must be less than or equal to 50</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Birthday</label>
        <div class="col-lg-10">
            <input type="date" class="form-control" name="birthday" ng-model="student.Birthday" ng-maxlength="20" required />
            <span class="text-danger" ng-show="(frmEditStudent.birthday.$touched || frmEditStudent.birthday.$dirty) && frmEditStudent.birthday.$invalid">
                <span ng-show="frmEditStudent.birthday.$error.required">Birthday is required</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" class="btn btn-success" value="Update" ng-if="states.showUpdateButton" ng-disabled="frmEditStudent.$pristine || frmEditStudent.$invalid" />
            <a href="/students" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
