<h2>Create</h2>
<form class="form-horizontal" name="frmAddSubject" ng-submit="createSubject(subject)" novalidate>
    <h4>Create a new subject</h4>
    <hr />

    <div class="form-group">
        <label class="col-lg-2 control-label">Subject Name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="name" ng-model="subject.SubjectName" ng-maxlength="100" required />
            <span class="text-danger" ng-show="(frmAddSubject.name.$touched || frmAddSubject.name.$dirty) && frmAddSubject.name.$invalid">
                <span ng-show="frmAddSubject.name.$error.required">Subject Name is required</span>
                <span ng-show="frmAddSubject.name.$error.maxlength">Subject Name must be less than or equal to 100</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Teacher Name</label>
        <div class="col-lg-10">
            <label>
                <select class="form-control" ng-model="subject.TeacherId" style="font-weight: normal">
                    <option ng-repeat="t in teachers" ng-value="{{t.Id}}">{{t.Name}}</option>
                </select>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Course Name</label>
        <div class="col-lg-10">
            <label>
                <select class="form-control" ng-model="subject.CourseId" style="font-weight: normal">
                    <option ng-repeat="t in courses" ng-value="{{t.Id}}">{{t.CourseName}}</option>
                </select>
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" class="btn btn-success" value="Create" ng-disabled="frmAddSubject.$invalid" />
            <a href="/subjects" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
